@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IFreeSql FreeSql

<CascadingValue Value="Setting" Name="@nameof(SettingDto)">

    <MApp>
        @Body
        <MFooter App Style="padding:0;">
             <MBottomNavigation @bind-Value="value"
                                BackgroundColor="@color"
                                      Dark
                                      Shift>
                <MButton Href="/">
                    <span>Chat</span>
                    <MIcon>mdi-chat-processing-outline</MIcon>
                </MButton>

                <MButton Href="/role">
                    <span>角色列表</span>

                    <MIcon>mdi-party-popper</MIcon>
                </MButton>

                <MButton Href="/tools">
                    <span>工具</span>

                    <MIcon>mdi-tools</MIcon>
                </MButton>

                <MButton Href="/my">
                    <span>我的</span>
                    <MIcon>mdi-account-circle-outline</MIcon>
                </MButton>
            </MBottomNavigation>
        </MFooter>
    </MApp>
</CascadingValue>